# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [83]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [84]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [85]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [87]:
# load csv into pd datafram of easier data manipulatin, then get some info about it
df = pd.read_csv('event_datafile_new.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 11 columns):
artist           6820 non-null object
firstName        6820 non-null object
gender           6820 non-null object
itemInSession    6820 non-null int64
lastName         6820 non-null object
length           6820 non-null float64
level            6820 non-null object
location         6820 non-null object
sessionId        6820 non-null int64
song             6820 non-null object
userId           6820 non-null int64
dtypes: float64(1), int64(3), object(7)
memory usage: 586.2+ KB

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Prepareing our Apache Cassandra cluster

### Creating a Cluster

In [88]:
# This should make a connection to a Cassandra instance your local machine 
from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

### Create Keyspace

In [89]:
# Create a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkify 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

### Set Keyspace

In [90]:
# Set KEYSPACE to the keyspace sparkify
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

## ETL Pipeline (Data modeling, tables creating, data insertion, answering queries)

### Query 1
### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

In [63]:
# Create songs table
query = "CREATE TABLE IF NOT EXISTS songs "
query = query + "(artist text, song text, length decimal, sessionId int, itemInSession int, PRIMARY KEY ((sessionId, itemInSession)))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [64]:
# iterate over df and insert songs data into the table
for i, row in df.iterrows():
    query = "INSERT INTO songs (artist, song, length, sessionId, itemInSession)"
    query = query + " VALUES (%s, %s, %s, %s, %s)"
    try :
        session.execute(query, (row.artist, row.song, row.length, row.sessionId, row.itemInSession))
    except Exception as e:
        print(e)

In [65]:
# Do a SELECT to answer query 1
query = "select * from songs WHERE sessionId=338 AND itemInSession = 4"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.artist, row.song, row.length)

Faithless Music Matters (Mark Knight Dub) 495.3073

### Query 2
### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [66]:
# Create artist_song table
query = "CREATE TABLE IF NOT EXISTS artist_song "
query = query + "(artist text, song text, firstName text, lastName text, sessionId int, itemInSession int, userId int, PRIMARY KEY ((userId, sessionId), itemInSession, firstName, lastName))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [67]:
# iterate over df and insert songs data into the table
for i, row in df.iterrows():
    query = "INSERT INTO artist_song (artist, song, firstName, lastName, sessionId, itemInSession, userId)"
    query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s)"
    try :
        session.execute(query, (row.artist, row.song, row.firstName, row.lastName, row.sessionId, row.itemInSession, row.userId))
    except Exception as e:
        print(e)

In [68]:
# Do a SELECT to answer query 2
query = "select * from artist_song WHERE userId=10 AND sessionId=182"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.artist, row.song)

Down To The Bone Keep On Keepin' On
Three Drives Greece 2000
Sebastien Tellier Kilometer
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit)

### Query 3
### 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [100]:
# Create songs table
query = "CREATE TABLE IF NOT EXISTS user_song "
query = query + "(firstName text, lastName text, song text, userId int, PRIMARY KEY ((song), userId))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [101]:
# iterate over df and insert songs data into the table
for i, row in df.iterrows():
    query = "INSERT INTO user_song (firstName, lastName, song, userId)"
    query = query + " VALUES (%s, %s, %s, %s)"
    try :
        session.execute(query, (row.firstName, row.lastName, row.song, row.userId))
    except Exception as e:
        print(e)

In [102]:
# Do a SELECT to answer query 3
query = "select * from user_song WHERE song='All Hands Against His Own'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.firstname, row.lastname)

Jacqueline Lynch
Tegan Levine
Sara Johnson

## Clean up and drop the tables

In [103]:
query = "drop table songs"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "drop table artist_song"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "drop table user_song"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="unconfigured table songs"
Error from server: code=2200 [Invalid query] message="unconfigured table artist_song"

## Close the session and cluster connectionÂ¶

In [104]:
session.shutdown()
cluster.shutdown()