In [ ]:
'''
    then start answering those questions. Here are some ideas to get you started:

    Titanic Data
        What factors made people more likely to survive?

        
Try and suggest questions that promote looking at relationships between multiple variables. 
You should aim to analyze at least one dependent variable and three independent variables in your investigation. 
Make sure you use NumPy and Pandas where they are appropriate!


Step Four - Share Your Findings
    Once you have finished analyzing the data, 
    create a report that shares the findings you found most interesting. 
    You might wish to use Jupyter notebook to share your findings alongside 
    the code you used to perform the analysis, but you can also use another tool if you wish. 
    If you do use a Jupyter notebook, 
    make sure that your report text is contained in Markdown cells to clearly distinguish your comments 
    and findings from your code work.

Step Five - Review
    Use the Project Rubric to review your project. 
    If you are happy with your submission, then you're ready to submit your project. 
    If you see room for improvement, keep working to improve your project.
    
    What to include in your submission
    A PDF or HTML file containing your analysis. This file should include:
    A note specifying which dataset you analyzed
    A statement of the question(s) you posed
    A description of what you did to investigate those questions
    Documentation of any data wrangling you did
    Summary statistics and plots communicating your final results
    Code you used to perform your analysis. If you used an Jupyter notebook, you can submit your .ipynb. 
        Otherwise, you should submit the code separately in .py file(s).
    A list of Web sites, books, forums, blog posts, github repositories, etc. 
        that you referred to or used in creating your submission 
        (add N/A if you did not use any such resources).
        
        
        #   What factors made people more likely to survive?
        Pclass ?
        sex ?
# 
        
        
'''

In [ ]:
# -------------------------------- Overview of our dataset -------------------------------- #

In [51]:
# get the data into pandas df
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

path = '/home/matar/GitHub/Online_Courses/Udacity-ND/P02_Investigate_A_Dataset/Project/'
titanic_pd = pd.read_csv(path + 'titanic-data.csv')

In [52]:
# overview
titanic_pd_sample = titanic_pd.head(10)
titanic_pd_szie = titanic_pd.size
titanic_pd_count = titanic_pd.count()
titanic_pd_Survived_count = titanic_pd['Survived'].value_counts()
titanic_pd_gender_count = titanic_pd['Sex'].value_counts()
titanic_pd_class_count = titanic_pd['Pclass'].value_counts()

"** let's see sample of our dataset : ** \n"
titanic_pd_sample
print "** Our dataset has : " + str(titanic_pd_szie) + " element **"
print "------------------------------------------------------"
print "** Our dataset's columns count as below : ** \n" + str(titanic_pd_count)
print "------------------------------------------------------"
print "** survival count : ** \n" + str(titanic_pd_Survived_count) 
print "------------------------------------------------------"
print "** gender count : **\n" + str(titanic_pd_gender_count)
print "------------------------------------------------------"
print "** Class count : **\n" + str(titanic_pd_class_count)

** Our dataset has : 10692 element **
------------------------------------------------------
** Our dataset's columns count as below : **
PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64
------------------------------------------------------
** survival count : **
0    549
1    342
Name: Survived, dtype: int64
------------------------------------------------------
** gender count : **
male      577
female    314
Name: Sex, dtype: int64
------------------------------------------------------
** Class count : **
3    491
1    216
2    184
Name: Pclass, dtype: int64

In [64]:
###### Question 1: What factors made people more likely to survive?
'''
Here, I'm investigating factrs that made people likely to survie.
I will look into this through 4 different varibales :
    1 Dependent Variable ==> Survived
    3 Independent Variables:  ==> Sex, Age, Pclass
'''

"\nHere, I'm investigating factrs that made people likely to survie.\nI will look into this through 4 different varibales :\n    1 Dependent Variable ==> Survived\n    3 Independent Variables:  ==> Sex, Age, Pclass\n"

In [65]:
# ler's stat analyze Age
print titanic_pd['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [67]:

''' As we saw in above overview, we ca clearly see we have missing values in Age colum'''
missing_Age_count = titanic_pd['Age'].isnull().sum()
print missing_Age_count

177

In [75]:
''' I will fill missing ages with 0.0'''
titanic_pd_age = titanic_pd
titanic_pd_age['Age'] = titanic_pd_age['Age'].fillna(0.0)
titanic_pd_age['Age'].isnull().sum()

0

In [80]:
''' let us see how stats changed after we fixed missing values in age column'''
titanic_pd_age['Age'].describe()

count    891.000000
mean      23.799293
std       17.596074
min        0.000000
25%        6.000000
50%       24.000000
75%       35.000000
max       80.000000
Name: Age, dtype: float64

In [85]:
age_pd_series = pd.Series(titanic_pd_age['Age'], index=titanic_pd_age['PassengerId'])


def group_age(age):
    if age >= 50.0 :
        return "Old"
    else:
        return "younge"

age_pd_series.apply(group_age)

PassengerId
1      younge
2      younge
3      younge
4      younge
5      younge
6         Old
7      younge
8      younge
9      younge
10     younge
11        Old
12     younge
13     younge
14     younge
15        Old
16     younge
17     younge
18     younge
19     younge
20     younge
21     younge
22     younge
23     younge
24     younge
25     younge
26     younge
27     younge
28     younge
29     younge
30     younge
        ...
862    younge
863    younge
864    younge
865    younge
866    younge
867    younge
868    younge
869    younge
870    younge
871    younge
872    younge
873    younge
874    younge
875    younge
876    younge
877    younge
878    younge
879       Old
880    younge
881    younge
882    younge
883    younge
884    younge
885    younge
886    younge
887    younge
888    younge
889    younge
890    younge
891    younge
Name: Age, dtype: object

In [53]:
# how many Survived vs not-Survived (this time I used groupby)
Survived = titanic_pd.groupby('Survived')
Survived.count()['PassengerId']

Survived
0    549
1    342
Name: PassengerId, dtype: int64

In [34]:
# how many Survived vs not-Survived per sex
Survived = titanic_pd.groupby(['Survived','Sex'])
Survived.count()['PassengerId']

Survived  Sex
0         female     81
          male      468
1         female    233
          male      109
Name: PassengerId, dtype: int64

In [79]:
# how many Survived vs not-Survived per Pclass
Survived = titanic_pd.groupby(['Survived','Pclass', 'Sex'])
Survived['PassengerId'].count()

Survived  Pclass  Sex
0         1       female      3
                  male       77
          2       female      6
                  male       91
          3       female     72
                  male      300
1         1       female     91
                  male       45
          2       female     70
                  male       17
          3       female     72
                  male       47
Name: PassengerId, dtype: int64

In [86]:
# chance of survie overall
titanic_pd['Survived'].mean() * 100

38.38383838383838

In [87]:
Survived = titanic_pd.groupby('Pclass')
Survived.mean()['Survived']

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [94]:
# age mean
titanic_pd['Age'].mean()

29.69911764705882

In [93]:
# age mean
titanic_pd['Age'].std()

14.526497332334044